*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
nav{
    height: 40px;
    background-color: skyblue;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: right;
    align-items: end;
}
nav ul a{
    padding: 15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: aqua;
    color: coral;
    overflow: hidden;
}
.container{
    background-image: url(../Images/bruce-mars-fiEG-Pk6ZyA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.hero-sect{
    position: absolute;
    top: 80%;
    left: 15%;
    width: 70%;
    padding: 20px;
    color: navy;
    background-color: skyblue;
    text-align: center;
    line-height: 30px;
    word-spacing: 10px;
    border-radius: 8px;
}
.hero-sect h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.hero-sect p{
    padding: 10px;
}
.hero-sect button{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid #ccc;
    cursor: pointer;
}
.flexbox{
    display: flex;
    margin-top: 25px;
}
.flex-item{
    flex-direction: row;
    width: 400px;
    margin: 20px;
}
.flex-item h2{
    text-align: center;
    margin: 15px 0;
}
.flex-item p{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
}
.flex-item button{
    display: block;
    height: 35px;
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #ccc;
   /* margin: 0 40%; */
    cursor: pointer;
}
.sect-image{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}
.contact-area{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 25px;
    gap: 30px;
}
.contact-image, .contact-form{
   /* margin: 10px 15px; */ 
    width: 50%;
}
.form-image{
    display: block;
    width: 500px;
    height: 500px;
    margin: 15px auto;
    border-radius: 8px;
}
label{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
label:first-child{
    margin-top: 40px;
}
label, input, textarea{
    display: block;
    margin: 15px 0;
}
input, textarea{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
}
.contact-form{
    padding: 15px;
}
textarea{
    height: 150px;
}
#cont-btn{
    display: block;
    width: 140px;
    height: 40px;
    margin: 25px auto;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
}
footer{
    height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    background-color: skyblue;
    padding: 10px;
}
span{
    font-weight: bolder
}