*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: skyblue;
    --secondary-color: blue;
}
.container{
    margin: 10px;
    padding: 5px;
}
.head{
    background-color: var(--secondary-color);
    margin: 5px 0;
    height: 120px;
    text-align: center;
}
.head h1{
    padding: 30px;
    font-weight: bolder;
    font-size: 40px;
    color: whitesmoke;
    text-transform: capitalize;
}
.list{
    background-color: var(--primary-color);
}
.list h2{
    text-indent: 20px;
    padding: 15px 0;
}
.list1{
    list-style-type: circle;
    margin: 5px;
    padding: 0 20px;
    font-size: 18px;
    background-color: var(--primary-color);
}
.tab{
    background-color: var(--primary-color);
    height: 200px;
}
.tab h2{
    padding: 10px 0;
    text-indent: 20px;
}
table, td{
    border: 2px solid whitesmoke;
    border-collapse: collapse;
}
td, th{
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
th{
    background-color: navy;
    color: whitesmoke;
}
table{
    background-color: var(--primary-color);
    width: 80%;
    margin: 0 auto;
}
.foot{
    background-color: var(--secondary-color);
    height: 60px;
    margin: 5px 0;
}
footer p{
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}